extends resource_session

block content
    div.container
        div.row
            div.col-xl-3
            div(class="col-xl-6 main")
                form(action="/change_password" method="post")
                    h1 Change password
                    input(class="box" type="password" name="password_change"
                        id="password_change" placeholder="Enter new password" required)
                    input(type="submit" value="Submit")

                input(type="button" onclick="history.back()" value="Cancel")
            div.col-xl-3