extends resource_session

block content
    div.container
        div.row
            div.col-xl-3
            div(class="col-xl-6 main")
                h1 Delete account confirm
                p.warning ⚠️Warning⚠️ The process is permanent and CANNOT be recovered! Are you sure you want to delete your account and all data?
                input(type="button" onclick="history.back()" value="Cancel")
                input(class="delete" type="button" onclick="window.open('/delete_account', '_self')" value="Delete anyway")
            div.col-xl-3