extends resource_session

block content
    script(src="../javascripts/image_deliver.js")
    div.container
        div.row
            div(class="col-xl-12 main")
                div.row
                    div.col-xl-6
                        h1 Content
                        img(src=content_image_preview class="image_select" alt="Unknown error")
                    div.col-xl-6
                        h1 Style
                        img(src=style_image_preview class="image_select" alt="Unknown error")
                br
                br
                div.row
                    div.col-xl-12
                        h1 Result
                        img(id="image_result" src="../images/result_loading.gif" class="image_select" alt="Unknown error")
                br
                div.row
                    div.col-xl-2
                    div.col-xl-4
                        input(type="button" onclick="window.open('/merge_image_page', '_self')" value="Try a new one🔙")
                    div.col-xl-4
                        a(href="" id="download_link" download="result")
                            input(id="download_button" type="button" value="Download⏬" disabled="true")
                    div.col-xl-2