extends resource_session

block content
    div.container
        div.row
            div.col-xl-12
                h1 Gallery
        div.row
            div(class="col-xl-12 main")
                p.message Here are some examples to give you an idea. (Right click to view or save full image)

                div.row
                    div.col-xl-4
                        h1 Content
                    div.col-xl-4
                        h1 Style
                    div.col-xl-4
                        h1 Result

                div.row
                    div.col-xl-4
                        img(src="../images/gallery_page/battleship/1.jpg" class="gallery" alt="Unknown error")
                    div.col-xl-4
                        img(src="../images/gallery_page/battleship/2.jpeg" class="gallery" alt="Unknown error")
                    div.col-xl-4
                        img(src="../images/gallery_page/battleship/3.png" class="gallery" alt="Unknown error")

                br
                div.row
                    div.col-xl-4
                        img(src="../images/gallery_page/house/1.jpg" class="gallery" alt="Unknown error")
                    div.col-xl-4
                        img(src="../images/gallery_page/house/2.jpg" class="gallery" alt="Unknown error")
                    div.col-xl-4
                        img(src="../images/gallery_page/house/3.png" class="gallery" alt="Unknown error")

                br
                div.row
                    div.col-xl-4
                        img(src="../images/gallery_page/louvre/1.jpg" class="gallery" alt="Unknown error")
                    div.col-xl-4
                        img(src="../images/gallery_page/louvre/2.jpg" class="gallery" alt="Unknown error")
                    div.col-xl-4
                        img(src="../images/gallery_page/louvre/3.png" class="gallery" alt="Unknown error")

                br
                div.row
                    div.col-xl-4
                        img(src="../images/gallery_page/portrait/1.jpg" class="gallery" alt="Unknown error")
                    div.col-xl-4
                        img(src="../images/gallery_page/portrait/2.jpeg" class="gallery" alt="Unknown error")
                    div.col-xl-4
                        img(src="../images/gallery_page/portrait/3.png" class="gallery" alt="Unknown error")

                br
                div.row
                    div.col-xl-4
                        img(src="../images/gallery_page/surfing/1.jpg" class="gallery" alt="Unknown error")
                    div.col-xl-4
                        img(src="../images/gallery_page/surfing/2.jpeg" class="gallery" alt="Unknown error")
                    div.col-xl-4
                        img(src="../images/gallery_page/surfing/3.png" class="gallery" alt="Unknown error")

                br
                div.row
                    div.col-xl-4
                        img(src="../images/gallery_page/wave/1.jpg" class="gallery" alt="Unknown error")
                    div.col-xl-4
                        img(src="../images/gallery_page/wave/2.jpg" class="gallery" alt="Unknown error")
                    div.col-xl-4
                        img(src="../images/gallery_page/wave/3.png" class="gallery" alt="Unknown error")

                br
                div.row
                    div.col-xl-4
                    div.col-xl-4
                        input(type="button" onclick="window.open('/main_activity', '_self')" value="Return")
                    div.col-xl-4