extends resource_session

block content
    script(src="../javascripts/image_preview.js")
    div.container
        div.row
            div(class="col-xl-12 main")
                form(action="/merge_image" id="image_select" method="post" enctype="multipart/form-data")
                    div.row
                        div.col-xl-6
                            h1 Content
                            img(id="content_image_preview" src="../images/merge_image_page/content_example.jpg" class="image_select" alt="Unknown error")
                            br
                            input(id="content_image_select" type="file" name="content_image" accept="image/*")
                        div.col-xl-6
                            h1 Style
                            img(id="style_image_preview" src="../images/merge_image_page/style_example.jpg" class="image_select" alt="Unknown error")
                            br
                            input(id="style_image_select" type="file" name="style_image" accept="image/*")

                    br
                    div.row
                        div.col-xl-1
                        div.col-xl-4
                            p Style weight
                            select(name="style_weight_select" id="style_weight_select")
                                option(value="Realistic +") Realistic +
                                option(value="Realistic") Realistic
                                option(value="Balanced", selected="selected") Balanced
                                option(value="Artistic") Artistic
                                option(value="Artistic +") Artistic +
                        div.col-xl-2
                        div.col-xl-4
                            p Quality
                            select(name="quality_select" id="quality_select")
                                option(value="Low") Low
                                option(value="Normal", selected="selected") Normal
                                option(value="High") High
                        div.col-xl-1
                br

                div.row
                    div.col-xl-4
                    div.col-xl-4
                        input(class="start" form="image_select" type="submit" value="Merge🎨")
                    div.col-xl-4