extends resource

block body
    body.general_page
        table(style="width:500px")
            tr
                th
                    img(src="data:" + profile_photo_content_type_top_left + ";base64," + profile_photo_top_left
                        class="profile_photo_top_left" onclick="window.open('/account_info', '_self')" alt="Unknown Error")
                th
                    input(type="button" onclick="window.open('/account_info', '_self')" id="account" value="Account⚙️")
                th
                    input(type="button" onclick="window.open('/main_activity', '_self')" id="home" value="Home🏠")
                th
                    input(type="button" onclick="window.open('/logout', '_self')" id="logout" value="Logout🚪")

        block content
