extends resource

block body
    body.general_page
        br
        br
        br
        div.container
            div.row
                div.col-xl-3
                div(class="col-xl-6 main")
                    block content
                div.col-xl-3
