extends sign_up_result

block content
    h1 Sign up successful!
    input(type="button" onclick="window.open('/', '_self')" value="Return to Home")
    input(type="button" onclick="window.open('/login_page', '_self')" value="Login")
