extends resource

block body
    body.general_page
        br
        br
        br
        div.container
            div.row
                div.col-xl-3
                div(class="col-xl-6 main")
                    form(action="/sign_up" method="post")
                        h1 Sign Up

                        label(for="username_sign_up") Username
                        input(class="box" type="text" name="username_sign_up" id="username_sign_up"
                            placeholder="Tommy123" required)
                        br

                        label(for="email_sign_up") Email
                        input(class="box" type="email" name="email_sign_up" id="email_sign_up"
                            placeholder="explame@123.com" required)
                        br

                        label(for="password_sign_up") Password
                        input(class="box" type="password" name="password_sign_up" id="password_sign_up"
                            placeholder="Enter your password" required)
                        br

                        input(type="submit" value="Submit")

                    input(type="button" onclick="history.back()" value="Return")

                div.col-xl-3
