extends resource_session

block content
    div.container
        div.row
            div.col-xl-12
                h1 Tutorial
        div.row
            div(class="col-xl-12 main")
                p.message Here you can learn the basics of how to compose your own artwork with our AI platform.

                div.row
                    div.col-xl-8
                        img(src="../images/personal_info_banner.jpg" class="banner" alt="Unknown error")
                    div.col-xl-4
                        p This is a test text

                div.row
                    div.col-xl-8
                        img(src="../images/personal_info_banner.jpg" class="banner" alt="Unknown error")
                    div.col-xl-4
                        p This is a test text