extends resource_session

block content
    div.container
        div.row
            div.col-xl-12
                h1 Tutorial
        div.row
            div(class="col-xl-12 main")
                p.message Here you can learn the basics of how to compose your own artwork with our AI platform.

                div.row
                    div.col-xl-8
                        img(src="../images/tutorial_page/tutorial_1.png" class="banner" alt="Unknown error")
                    div.col-xl-4
                        p.info What is Merge.AI and what does it do?
                        p Merge.AI is a GPU-accelerated computation platform, where you can create your own artwork with unique style. Choose your own content image and style image, our AI would do the magic for you.
                br

                div.row
                    div.col-xl-8
                        img(src="../images/tutorial_page/tutorial_2.png" class="banner" alt="Unknown error")
                    div.col-xl-4
                        p.info How to choose my content and style images?
                        p Content image should be clear and tidy, not too complicated nor too dull. Style image should have visible and repeating patterns, those who are too colorful is not recommended.
                br

                div.row
                    div.col-xl-8
                        img(src="../images/tutorial_page/tutorial_3.png" class="banner" alt="Unknown error")
                    div.col-xl-4
                        p.info What configuration should I choose?
                        p Realistic style produces less stylized result, while artistic style maximizes the style. Low quality is faster but might produce visual artifacts, while high quality takes more time to suppress visual artifacts. If you are not sure, it's recommended to use default value.
                br

                div.row
                    div.col-xl-8
                        img(src="../images/tutorial_page/tutorial_4.png" class="banner" alt="Unknown error")
                    div.col-xl-4
                        p.info How long does it take?
                        p The time it takes is decided by the resolution of both content image and style image, and process quality. The higher the resolution or quality, the longer it takes. For example, 512x512 images with quality set to "normal" take about 10 seconds to render, while 1920x1080 images with same quality might take up to 1 minute.

                br
                div.row
                    div.col-xl-2
                    div.col-xl-4
                        input(type="button" onclick="window.open('/main_activity', '_self')" value="Return")
                    div.col-xl-4
                        input(type="button" onclick="window.open('/gallery_page', '_self')" value="Gallery🎬")
                    div.col-xl-2