.main{
    padding: 20px;
    font-family: 'Helvetica', serif;
    box-shadow: 5px 5px 7px 5px #888888;
}

p, label {
    font-size: 20px;
    font-family: 'Helvetica', serif;
}

p.message {
    text-align: center;
}

h1 {
    font-family: 'Helvetica', serif;
    font-size: 40px;
    text-align: center;
}

h1#welcome_title {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-size: 60px;
    color: white;
    text-shadow: 5px 5px 10px black;
    padding-top: 15rem;
}

body.welcome_page {
    background-image: url('../images/background_welcome.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body.general_page {
    background-image: url('../images/background_general.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

input[type=submit], input[type=button] {
    font-family: 'Helvetica', serif;
    font-size: 20px;
    width: 100%;
    background-color: #0080FF;
    border: none;
    color: white;
    padding: 16px 8px;
    margin: 4px 0;
    border-radius: 10px;
    transition: 0.5s;
}

input[type=submit]:hover, input[type=button]:hover {
    background-color: #004080;
    transform: scale(1.1);
    backface-visibility: hidden;
}

input[class=box] {
    font-family: 'Helvetica', serif;
    width: 100%;
    font-size: 20px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid #767474;
}

.profile_photo_top_left {
    width: 75px;
    height: 75px;
    object-fit: contain;
    cursor: pointer;
    margin: 10px 10px;
    border: 5px solid #73AD21;
    transition: 0.5s;
}

.profile_photo_top_left:hover {
    filter: brightness(50%);
}

#my_message {
    width: 125px;
    background-color: #73AD21;
}
#my_message:hover {
    background-color: #3a5711;
}

#home {
    width: 125px;
}

#logout {
    width: 125px;
    background-color: #ff8000;
}

#logout:hover {
    background-color: #804000;
}
